framework: net45, net471

source https://api.nuget.org/v3/index.json

nuget angularjs 1.5.5 restriction: >= net45
nuget angularjs.TypeScript.DefinitelyTyped 6.1.6 restriction: >= net45
nuget Antlr 3.4.1.9004 restriction: >= net45
nuget Antlr3.Runtime 3.5.1 restriction: >= net471
nuget Apache.NMS.ActiveMQ 1.7.2 restriction: >= net471
nuget Autofac 4.8.1
nuget Autofac.Extras.NLog 1.3.0 restriction: >= net471
nuget Autofac.Wcf 4.1.0 restriction: >= net471
nuget AvalonEdit 5.0.3 restriction: >= net471
nuget bootstrap 3.0.0 restriction: >= net45
nuget BrotliSharpLib 0.3.1 restriction: >= net471
nuget Castle.Core 4.3.1
nuget cef.redist.x64 3.3325.1758 restriction: >= net471
nuget cef.redist.x86 3.3325.1758 restriction: >= net471
nuget CefSharp.Common 65.0.0 restriction: >= net471
nuget CefSharp.WinForms 65.0.0 restriction: >= net471
nuget CommandLineParser 2.5.0 restriction: >= net471
nuget Common.Logging 3.0.0 restriction: >= net471
nuget Common.Logging.Core 3.0.0 restriction: >= net471
nuget Confluent.Kafka 1.2.1 restriction: >= net471
nuget Costura.Fody 3.3.3 restriction: >= net471
nuget d3 3.5.17 restriction: >= net45
nuget d3.TypeScript.DefinitelyTyped 2.6.7 restriction: >= net45
nuget Elasticsearch.Net 6.3.0
nuget Extended.Wpf.Toolkit 3.2.0
nuget Fleck 0.14.0.59 restriction: >= net471
nuget FluentAssertions 5.4.1 restriction: >= net471
nuget Fody 4.2.1 restriction: >= net471
nuget IBM.Data.DB2 10.0.5.5 restriction: >= net471
nuget IdentityModel.OidcClient 2.9 restriction: >= net471
nuget Iesi.Collections 4.0.4 restriction: >= net471
nuget jQuery 1.10.2 restriction: >= net45
nuget jquery.TypeScript.DefinitelyTyped 3.0.6 restriction: >= net45
nuget jQuery.Validation 1.11.1 restriction: >= net45
nuget librdkafka.redist 1.2.1 restriction: >= net471
nuget log4net 2.0.7 restriction: >= net45
nuget MediaTypeMap 2.1.0.0 restriction: >= net471
nuget Microsoft.AnalysisServices.AdomdClient.retail.amd64 15.12.1 restriction: >= net471
nuget Microsoft.ApplicationInsights 2.1.0  restriction: >= net471
nuget Microsoft.ApplicationInsights.Agent.Intercept 2.0.1  restriction: >= net471
nuget Microsoft.ApplicationInsights.DependencyCollector 2.1.0 restriction: >= net471
nuget Microsoft.ApplicationInsights.JavaScript restriction: >= net45
nuget Microsoft.ApplicationInsights.PerfCounterCollector 2.1.0  restriction: >= net471
nuget Microsoft.ApplicationInsights.Web restriction: >= net45
nuget Microsoft.ApplicationInsights.WindowsServer 2.1.0  restriction: >= net471
nuget Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel 2.1.0  restriction: >= net471
nuget Microsoft.AspNet.Mvc 5.2.3 restriction: >= net45
nuget Microsoft.AspNet.Razor 3.2.3 restriction: >= net45
nuget Microsoft.AspNet.Web.Optimization 1.1.3 restriction: >= net45
nuget Microsoft.AspNet.WebApi 5.2.3 restriction: >= net45
nuget Microsoft.AspNet.WebApi.Client 5.2.7
nuget Microsoft.AspNet.WebApi.Core 5.2.7
nuget Microsoft.AspNet.WebApi.WebHost 5.2.3 restriction: >= net45
nuget Microsoft.AspNet.WebPages 3.2.3 restriction: >= net45
nuget Microsoft.Azure.KeyVault.Core 3.0.1 restriction: >= net471
nuget Microsoft.Bcl 1.1.10 restriction: >= net471
nuget Microsoft.Bcl.Async 1.0.168 restriction: >= net471
nuget Microsoft.Bcl.Build 1.0.21 restriction: >= net471
nuget Microsoft.CodeDom.Providers.DotNetCompilerPlatform 2.0.0
nuget Microsoft.Data.Edm 5.8.4 restriction: >= net471
nuget Microsoft.Data.OData 5.8.4 restriction: >= net471
nuget Microsoft.Data.Services.Client 5.8.4 restriction: >= net471
nuget Microsoft.Diagnostics.Tracing.EventRegister 1.1.28 restriction: >= net471
nuget Microsoft.Diagnostics.Tracing.EventSource 1.1.28 restriction: >= net471
nuget Microsoft.Diagnostics.Tracing.EventSource.Redist 1.1.28 restriction: >= net471
nuget Microsoft.Extensions.Caching.Abstractions 2.0.2 restriction: >= net471
nuget Microsoft.Extensions.Caching.Memory 2.0.2 restriction: >= net471
nuget Microsoft.Extensions.Configuration 2.0.2
nuget Microsoft.Extensions.Configuration.Binder 2.0.2
nuget Microsoft.Extensions.Configuration.FileExtensions 2.0.2 restriction: >= net471
nuget Microsoft.Extensions.Configuration.Json 2.0.2
nuget Microsoft.Extensions.DependencyInjection.Abstractions restriction: >= net471
nuget Microsoft.Extensions.FileProviders.Abstractions 2.0.1 restriction: >= net471
nuget Microsoft.Extensions.FileProviders.Physical 2.0.1 restriction: >= net471
nuget Microsoft.Extensions.FileSystemGlobbing 2.0.1 restriction: >= net471
nuget Microsoft.Extensions.Logging 1.1.2 restriction: >= net471
nuget Microsoft.Extensions.Logging.Abstractions 1.1.2 restriction: >= net471
nuget Microsoft.Extensions.Options 2.0.2 restriction: >= net471
nuget Microsoft.Extensions.Primitives 2.0.0.0 restriction: >= net471
nuget Microsoft.Identity.Client 2.6.1 restriction: >= net471
nuget Microsoft.jQuery.Unobtrusive.Validation 3.2.3 restriction: >= net45
nuget Microsoft.Net.Compilers 1.0.0 restriction: >= net45
nuget Microsoft.NET.Test.Sdk 15.8.0
nuget Microsoft.NETCore.Platforms restriction: >= net471
nuget Microsoft.Rest.ClientRuntime 2.3.10
nuget Microsoft.VisualStudio.Imaging 14.2.25123 restriction: >= net45
nuget Microsoft.VisualStudio.OLE.Interop 7.10.6070 restriction: >= net45
nuget Microsoft.VisualStudio.Shell.14.0 14.2.25123 restriction: >= net45
nuget Microsoft.VisualStudio.Shell.Immutable.10.0 10.0.30319 restriction: >= net45
nuget Microsoft.VisualStudio.Shell.Immutable.11.0 11.0.50727 restriction: >= net45
nuget Microsoft.VisualStudio.Shell.Immutable.12.0 12.0.21003 restriction: >= net45
nuget Microsoft.VisualStudio.Shell.Immutable.14.0 14.2.25123 restriction: >= net45
nuget Microsoft.VisualStudio.Shell.Interop 7.10.6071 restriction: >= net45
nuget Microsoft.VisualStudio.Shell.Interop.10.0 10.0.30319 restriction: >= net45
nuget Microsoft.VisualStudio.Shell.Interop.11.0 11.0.61030 restriction: >= net45
nuget Microsoft.VisualStudio.Shell.Interop.12.0 12.0.30110 restriction: >= net45
nuget Microsoft.VisualStudio.Shell.Interop.8.0 8.0.50727 restriction: >= net45
nuget Microsoft.VisualStudio.Shell.Interop.9.0 9.0.30729 restriction: >= net45
nuget Microsoft.VisualStudio.TextManager.Interop 7.10.6070 restriction: >= net45
nuget Microsoft.VisualStudio.TextManager.Interop.8.0 8.0.50727 restriction: >= net45
nuget Microsoft.VisualStudio.Threading 14.1.131 restriction: >= net45
nuget Microsoft.VisualStudio.Utilities 14.2.25123 restriction: >= net45
nuget Microsoft.VisualStudio.Validation 14.1.111 restriction: >= net45
nuget Microsoft.VSSDK.BuildTools 14.2.25201 restriction: >= net45
nuget Microsoft.Web.Infrastructure 1.0.0.0 restriction: >= net45
nuget Microsoft.Win32.Primitives 4.3.0 restriction: >= net471
nuget Microsoft.WindowsAPICodePack-Core 1.1.0.0 restriction: >= net40
nuget Microsoft.WindowsAPICodePack-Shell 1.1.0.0 restriction: >= net40
nuget MimeKit 2.1.2 restriction: >= net471
nuget Modernizr 2.6.2 restriction: >= net45
nuget MongoDB.Bson 2.4.4 restriction: >= net471
nuget MongoDB.Driver 2.4.4 restriction: >= net471
nuget MongoDB.Driver.Core 2.4.4 restriction: >= net471
nuget Mono.Options 5.3.0.1 restriction: >= net471
nuget Moq 4.10.1
nuget MouseKeyHook 5.4.0 restriction: >= net471
nuget MSBuild.NugetContentRestore 0.1.6 restriction: >= net46
nuget MSBuildTasks 1.4.0.128 restriction: >= net471
nuget MSTest.TestAdapter 1.3.2
nuget MSTest.TestFramework 1.3.2
nuget MySql.Data 6.9.9
nuget ncalc 1.3.8 restriction: >= net471
nuget NEST 6.3.0
nuget NETStandard.Library restriction: >= net471
nuget Newtonsoft.Json 11.0.2 restriction: >= net45
nuget Newtonsoft.Json.Schema 3.0.10 restriction: >= net471
nuget NLog 4.5.6
nuget NLog.Config 4.5.6 restriction: >= net471
nuget NLog.Schema 4.5.6 restriction: >= net471
nuget NUnit 2.6.4
nuget NUnit.Core 2.6.4
nuget NUnit.Mocks 2.6.4 restriction: >= net471
nuget NUnitTestAdapter 2.1.1 restriction: >= net471
nuget Octokit 0.26.0 restriction: >= net471
nuget OData.Core 7.6.1.2
nuget odp.net.x64 112.3.0 restriction: >= net471
nuget OpenCvSharp3-AnyCPU 3.1.0.20160622 restriction: >= net471
nuget Perfecto-Reporting 2.0.0 restriction: >= net471
nuget PerfectoLab 6.5.0.0 restriction: >= net471
nuget PerfectoLab.Extended 6.5.0.0 restriction: >= net471
nuget Polly 6.1.2 restriction: >= net471
nuget Polly.Caching.Memory 2.0.1 restriction: >= net471
nuget PostSharp 6.1.15 restriction: >= net45
nuget PostSharp.Redist 6.1.15 restriction: >= net471
nuget Prism.Core 6.3.0 restriction: >= net471
nuget protobuf-net ~> 2.4
nuget QrCode.Net 0.4.0.0 restriction: >= net471
nuget Quartz 3.0.5 restriction: >= net471
nuget RabbitMQ.Client 6.0.0-pre6 restriction: >= net471
nuget refit 4.6.58 restriction: >= net471
nuget Remotion.Linq 2.2.0 restriction: >= net471
nuget Remotion.Linq.EagerFetching 2.2.0 restriction: >= net471
nuget Respond 1.2.0 restriction: >= net45
nuget SharpZipLib 0.86.0 prerelease
nuget SSH.NET 2016.1.0 restriction: >= net471
nuget StreamExtended 1.0.179 restriction: >= net471
nuget Svg 2.3.0 restriction: >= net471
nuget System.AppContext restriction: >= net471
nuget System.Buffers restriction: >= net471
nuget System.Collections restriction: >= net471
nuget System.Collections.Concurrent restriction: >= net471
nuget System.ComponentModel restriction: >= net471
nuget System.ComponentModel.Annotations restriction: >= net471
nuget System.ComponentModel.EventBasedAsync restriction: >= net471
nuget System.Console restriction: >= net471
nuget system.data.sqlite 1.0.105.1
nuget System.Data.SQLite.Core 1.0.105.1
nuget System.Data.SQLite.EF6 1.0.105.1 restriction: >= net471
nuget System.Data.SQLite.Linq 1.0.105.1 restriction: >= net471
nuget System.Diagnostics.Debug restriction: >= net471
nuget System.Diagnostics.DiagnosticSource
nuget System.Diagnostics.Tools restriction: >= net471
nuget System.Diagnostics.Tracing restriction: >= net471
nuget System.DirectoryServices
nuget System.DirectoryServices.AccountManagement 
nuget System.Drawing.Primitives restriction: >= net471
nuget System.Dynamic.Runtime restriction: >= net471
nuget System.Globalization restriction: >= net471
nuget System.Globalization.Calendars restriction: >= net471
nuget System.Interactive restriction: >= net471
nuget System.IO restriction: >= net471
nuget System.IO.Compression restriction: >= net471
nuget System.IO.Compression.ZipFile restriction: >= net471
nuget System.IO.FileSystem restriction: >= net471
nuget System.IO.FileSystem.Primitives restriction: >= net471
nuget System.Linq restriction: >= net471
nuget System.Linq.Dynamic restriction: >= net471
nuget System.Linq.Expressions restriction: >= net471
nuget System.Linq.Queryable restriction: >= net471
nuget System.Memory restriction: >= net471
nuget System.Net.Http 4.3.3 restriction: >= net471
nuget System.Net.Primitives restriction: >= net471
nuget System.Net.Sockets restriction: >= net471
nuget System.Numerics.Vectors restriction: >= net471
nuget System.ObjectModel restriction: >= net471
nuget System.Reflection restriction: >= net471
nuget System.Reflection.Extensions restriction: >= net471
nuget System.Reflection.Primitives restriction: >= net471
nuget System.Resources.ResourceManager restriction: >= net471
nuget System.Runtime restriction: >= net471
nuget System.Runtime.CompilerServices.Unsafe
nuget System.Runtime.Extensions restriction: >= net471
nuget System.Runtime.Handles restriction: >= net471
nuget System.Runtime.InteropServices restriction: >= net471
nuget System.Runtime.InteropServices.RuntimeInformation
nuget System.Runtime.Numerics restriction: >= net471
nuget System.Security.Cryptography.Algorithms
nuget System.Security.Cryptography.Encoding
nuget System.Security.Cryptography.Primitives
nuget System.Security.Cryptography.ProtectedData
nuget System.Security.Cryptography.X509Certificates
nuget System.Security.Cryptography.Xml
nuget System.Spatial restriction: >= net471
nuget System.Text.Encoding restriction: >= net471
nuget System.Text.Encoding.CodePages 4.5.1
nuget System.Text.Encoding.Extensions restriction: >= net471
nuget System.Text.Encodings.Web restriction: >= net471
nuget System.Text.RegularExpressions restriction: >= net471
nuget System.Threading restriction: >= net471
nuget System.Threading.Tasks restriction: >= net471
nuget System.Threading.Tasks.Dataflow restriction: >= net471
nuget System.Threading.Tasks.Extensions 4.5.3 restriction: >= net471
nuget System.Threading.Timer restriction: >= net471
nuget System.ValueTuple
nuget System.Xml.ReaderWriter restriction: >= net471
nuget System.Xml.XDocument restriction: >= net471
nuget Teradata.Client.Provider 16.20.3 restriction: >= net471
nuget WixSharp 1.13.0 restriction: >= net471, import_targets: false
nuget WixSharp.bin 1.13.0 restriction: >= net471, import_targets: false
nuget Titanium.Web.Proxy 3.0.708-beta restriction: >= net471
nuget UnmanagedExports 1.2.7
nuget WebGrease 1.5.2 restriction: >= net45
nuget WebSocketSharp 1.0.3-rc11 rc
nuget WindowsAPICodePack 1.1.0 restriction: >= net471
nuget WindowsAzure.Storage 9.3.3 restriction: >= net471
nuget WiX 3.11.2
nuget Xamarin.Android.Support.Design 27.0.2.1
nuget Xamarin.Android.Support.v4 27.0.2.1
nuget Xamarin.Android.Support.v7.AppCompat 27.0.2.1
nuget Xamarin.Android.Support.v7.CardView 27.0.2.1
nuget Xamarin.Android.Support.v7.MediaRouter 27.0.2.1
nuget Xamarin.Forms 3.2.0.839982
nuget XMLDiffPatch 1.0.8.28 prerelease restriction: >= net471
nuget YamlDotNet 4.2.1 prerelease restriction: >= net471
nuget Z.EntityFramework.Extensions 3.11.23 prerelease restriction: >= net471
nuget MailKit 2.1.2 restriction: >= netstandard2.0
nuget Selenium.WebDriver 3.14.0
nuget Selenium.Support 3.14.0
nuget Tesseract 3.0.2 content: none
nuget Microsoft.IdentityModel.JsonWebTokens 5.3 restriction: >= net471
nuget Microsoft.IdentityModel.Logging 5.3 restriction: >= net471
nuget Microsoft.IdentityModel.Tokens 5.3 restriction: >= net471
nuget System.IdentityModel.Tokens.Jwt 5.3 restriction: >= net471
nuget Fare 2.1.2


group OldNet
    framework: net35
    
    source https://api.nuget.org/v3/index.json

    nuget WixSharp.bin 1.9.5 restriction: == net35, import_targets: false
    nuget SharpZipLib 0.86.0 prerelease restriction: == net35

